.button {
  background: none;
  border: none;
  border-radius: 0;
  width: 63px;
  height: 56px;
  background-image: url("../../icons/Button_3.svg");
}
.button .box {
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 8px;
  margin-right: 5px;
  display: block;
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--color-neutral-gray) 30%,
    var(--color-neutral-gray) 70%,
    transparent
  );
}

.button:hover {
  transform: scale(1.1);
}
