.card .img:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
.card .img:nth-of-type(2) {
  width: 100%;
  padding-top: 35px;
  height: 225px;
  object-fit: contain;
  object-position: 50% 0%;
  display: block;
  mask-image: url(../../icons/Mask.svg);
  mask-position: center 1px;
  transition: transform 0.25s;
}
.card .img:nth-of-type(1) {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  filter: drop-shadow(1rem 1rem 1rem black);
}
.card {
  position: relative;
  height: 296px;
  width: 296px;
  text-align: center;
  transition: transform 0.25s;
}
.card:hover {
  transform: scale(1.1);
}
.card:hover .img:nth-last-of-type(2) {
  transform: translateY(10px) scale(1.1);
}
.card p {
  position: absolute;
  cursor: pointer;
  display: inline;
  width: max-content;
  font-size: 1.2rem;
  bottom: 43px;
  transform-origin: center;
  transform: translate(-50%);
  text-align: center;
  margin: 0 auto;
  z-index: 1;
  color: var(--color-text-white);
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--color-neutral-gray) 30%,
    var(--color-neutral-gray) 70%,
    transparent
  );
  transition: transform 0.2s;
}
.card p:hover {
  transform: translate(-50%) scale(1.2);
}
.card .fav {
  position: absolute;
  top: 80px;
  right: 12px;
  cursor: pointer;
}
.card .fav:hover {
  transform: scale(1.1);
}

@media (max-width: 745px) {
  .card.exception {
    scroll-snap-align: start;
  }
  .card:not(.exception) {
    height: 50px;
    width: auto;
    display: grid;
    margin: 1rem 0 0.2rem 0;
    justify-items: center;
    align-content: center;
    align-items: center;
    grid-template-columns: 40px 1fr 35px;
    transition: none;
  }

  .card:hover:not(.exception) {
    transform: none;
  }

  .card:not(.exception) .img:nth-last-of-type(2) {
    transition: none;
  }

  .card:not(.exception) .img:nth-last-of-type(3) {
    filter: none;
  }

  .card:hover:not(.exception) .img:nth-last-of-type(2) {
    transition: none;
    transform: none;
  }

  .card:not(.exception) p {
    position: static;
    width: 100%;
    margin-left: 0.5rem;
    padding: 5px;
    font-size: 1.5rem;
    transition: none;
    transform: none;
    border-radius: 1rem;
    border: 1px solid var(--color-main-golden);
    z-index: 0;
    max-height: 45px;
    white-space: nowrap;
    overflow: hidden;
  }

  .card:not(.exception) p:hover {
    transform: none;
  }

  .card:not(.exception) .image-box {
    width: 300px;
    filter: drop-shadow(12px 12px black);
    transform: translateX(20px) translateY(-16px) scale(0.25);
    z-index: 2;
  }

  .card:not(.exception) .fav {
    position: static;
    z-index: 2;
    transform: translateY(-7px);
  }
}
