@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Cinzel+Decorative&display=swap");

:root {
  --color-main-golden: #ffde68;
  --color-logo-golden: #a48b35;
  --color-card-background: #201639;
  --color-background-gradient-gray: #1f1f1f;
  --color-background-gradient-darkblue: #131b2e;
  --color-gryffindor-red: #5b0000;
  --color-slytherin-green: #005b09;
  --color-ravenclaw-blue: #00355b;
  --color-hufflepuff-yellow: #bf9e2a;
  --color-neutral-gray: #494949;
  --color-text-white: #ffffff;
}

* {
  font-family: "Bona Nova", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text-white);
}

ul {
  list-style: none;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(
    var(--color-background-gradient-gray),
    var(--color-background-gradient-darkblue)
  );
  overflow: hidden;
}

h1 {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: lighter;
  font-size: 4rem;
  color: var(--color-logo-golden);
  mask-image: linear-gradient(black, rgba(0, 0, 0, 0.38));
  margin-bottom: 0rem;
  line-height: 4rem;
}

h2 {
  font-weight: normal;
  padding: 0 1rem;
}

header h2 {
  text-align: center;
}

.header-container h1 {
  grid-area: title;
}
.header-container h2 {
  grid-area: subtitle;
}

.header-container {
  display: grid;
  margin: 0 auto;
  padding: 0 1rem;
  grid-template-columns: 55px 1fr 55px;
  grid-template-rows: auto auto;
  grid-template-areas:
    "first title last"
    "first subtitle last";
  align-items: end;
  max-width: 1200px;
}

.first {
  grid-area: first;
}

.last {
  grid-area: last;
}

header {
  border-bottom: 1px solid var(--color-main-golden);
  padding: 1.5rem 0;
  margin-bottom: 1rem;
}

main {
  flex-grow: 1;
  margin: 0 auto;
  width: min(1200px, 100%);
  height: 100%;
}

@media (max-width: 745px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  header h2 {
    align-self: baseline;
    font-size: 1.2rem;
  }
  .header-container {
    grid-template-rows: auto auto;
    grid-template-areas:
      "title title title"
      "first subtitle last";
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}

@media (max-width: 300px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.4rem;
  }
}
